<!DOCTYPE html>
<html>
  <head>
    <title>Perfil</title>
  </head>
  <body>
    <div class="dados-pessoais" action="/perfil" method="GET">
      <!-- foto de perfil -->
      <div class="profile-picture">
        <% if (usuario.foto) { %>
          <img id="profile-image" src="<%= usuario.foto %>">
        <% } else { %>
          <img src="/images/defaultProfile.png" alt="Default Profile Picture">
        <% } %>
      </div>

      <div class="info-cadastro">
        <h2><%= usuario.nome %></h2>
        <ul>
          <li>Idade: <%= usuario.idade %></li>
          <li>Nível: <%= usuario.nivel %></li>
          <li>Email: <%= usuario.email %></li>
          <li>LinkedIn: <%= usuario.linkedin %></li>
          <li>Telefone: <%= usuario.telefone %></li>
        </ul>
      </div>
    </div>

  </body>
</html>
